<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>06讲师组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="teacher-card">
    <div class="left">
        <a href="#">
            <img class="t-header" src="../../assets/images/teacher.png" alt="">
            <div class="t-name">王顺子</div>
        </a>
    </div>
    <div class="right">
        <div class="t-position">撩课CEO</div>
        <div class="t-intro">
            王顺子，啥都会，厉害得很！
        </div>
    </div>
</div>
</body>
</html>