<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08新闻组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="news-card">
    <ul>
        <li>
            <a href="#">撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程撩课学院-极系列课程 </a>
            <span>2022年01月09日 12:12:12</span>
        </li>
        <li>
            <a href="#">撩课学院-极系列课程 </a>
            <span>2022年01月09日 12:12:12</span>
        </li>
        <li>
            <a href="#">撩课学院-极系列课程 </a>
            <span>2022年01月09日 12:12:12</span>
        </li>
        <li>
            <a href="#">撩课学院-极系列课程 </a>
            <span>2022年01月09日 12:12:12</span>
        </li>
        <li>
            <a href="#">撩课学院-极系列课程 </a>
            <span>2022年01月09日 12:12:12</span>
        </li>
        <li>
            <a href="#">撩课学院-极系列课程 </a>
            <span>2022年01月09日 12:12:12</span>
        </li>
    </ul>
</div>
</body>
</html>