<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>07-首页-明星讲师组装</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="section bx">
    <div class="title-bar">
        <h5 class="title">-.明.星.讲.师.-</h5>
        <a href="#" class="more">more&gt;</a>
    </div>
    <div class="container">
        <div class="column3 teacher-card">
            <div class="left">
                <a href="#">
                    <img class="t-header" src="../../assets/images/teacher.png" alt="">
                    <div class="t-name">王顺子</div>
                </a>
            </div>
            <div class="right">
                <div class="t-position">撩课CEO</div>
                <div class="t-intro">
                    王顺子，啥都会，厉害得很！
                </div>
            </div>
        </div>
        <div class="column3 teacher-card">
            <div class="left">
                <a href="#">
                    <img class="t-header" src="../../assets/images/teacher.png" alt="">
                    <div class="t-name">王顺子</div>
                </a>
            </div>
            <div class="right">
                <div class="t-position">撩课CEO</div>
                <div class="t-intro">
                    王顺子，啥都会，厉害得很！
                </div>
            </div>
        </div>
        <div class="column3 teacher-card">
            <div class="left">
                <a href="#">
                    <img class="t-header" src="../../assets/images/teacher.png" alt="">
                    <div class="t-name">王顺子</div>
                </a>
            </div>
            <div class="right">
                <div class="t-position">撩课CEO</div>
                <div class="t-intro">
                    王顺子，啥都会，厉害得很！
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>