@import "normalize.css";
@import "//at.alicdn.com/t/font_3122650_f454gt2ilce.css";
.bx {
  width: 1205px;
  margin: 0 auto;
}

ul,p,dl,dd
{
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,h3 {
  margin: 0;
}