@import "normalize.css";
@import "//at.alicdn.com/t/font_3122650_zqk52bd7fhg.css";
.bx {
  width: 1205px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}