<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情-评价列表</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class="comment-list">
    <div class="comment-title">
        评论
    </div>
  <div class="comment-items">
      <div class="comment-item">
          <div class="top">
              <img src="../../assets/images/teacher.png" alt="" class="t-header">
              <div class="message">
                  <div class="message-top">
                      <span class="user-name">撩课Sz</span>
                      <div class="star">
                          <div class="y_star" style="width: 100%"></div>
                      </div>
                  </div>
                  <div class="comment-time">
                      2022-01-19 11:11:12
                  </div>
              </div>
          </div>
          <div class="content">
              课程真不错！
          </div>
      </div>
      <div class="comment-item">
          <div class="top">
              <img src="../../assets/images/teacher.png" alt="" class="t-header">
              <div class="message">
                  <div class="message-top">
                      <span class="user-name">撩课Sz</span>
                      <div class="star">
                          <div class="y_star" style="width: 100%"></div>
                      </div>
                  </div>
                  <div class="comment-time">
                      2022-01-19 11:11:12
                  </div>
              </div>
          </div>
          <div class="content">
              课程真不错！
          </div>
      </div>
      <div class="comment-item">
          <div class="top">
              <img src="../../assets/images/teacher.png" alt="" class="t-header">
              <div class="message">
                  <div class="message-top">
                      <span class="user-name">撩课Sz</span>
                      <div class="star">
                          <div class="y_star" style="width: 100%"></div>
                      </div>
                  </div>
                  <div class="comment-time">
                      2022-01-19 11:11:12
                  </div>
              </div>
          </div>
          <div class="content">
              课程真不错！
          </div>
      </div>
      <div class="comment-item">
          <div class="top">
              <img src="../../assets/images/teacher.png" alt="" class="t-header">
              <div class="message">
                  <div class="message-top">
                      <span class="user-name">撩课Sz</span>
                      <div class="star">
                          <div class="y_star" style="width: 100%"></div>
                      </div>
                  </div>
                  <div class="comment-time">
                      2022-01-19 11:11:12
                  </div>
              </div>
          </div>
          <div class="content">
              课程真不错！
          </div>
      </div>
      <div class="comment-item">
          <div class="top">
              <img src="../../assets/images/teacher.png" alt="" class="t-header">
              <div class="message">
                  <div class="message-top">
                      <span class="user-name">撩课Sz</span>
                      <div class="star">
                          <div class="y_star" style="width: 100%"></div>
                      </div>
                  </div>
                  <div class="comment-time">
                      2022-01-19 11:11:12
                  </div>
              </div>
          </div>
          <div class="content">
              课程真不错！
          </div>
      </div>

  </div>

</div>


</body>
</html>